In [8]:
# 1. WAP to convert two given lists in dictionary.

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

# soln 1. :- 
out_dict = {}   # by updating values into empty dictinary.
for i in range(len(keys)):
    out_dict.update({keys[i] : values[i]})
print(out_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [9]:
# soln 2:-
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

dictionary = dict(zip(keys,values))  # by using zip function
print(dictionary)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [2]:
# 2. Merge 2 different into ane single dictionary.


# soln 1 :-
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)  # by updating any one given dictionary.
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [4]:
# soln 2 :-

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = {**dict1, **dict2} # by adding both dictionaries into a new dictionary.
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [53]:
# 3. WAP to access a specific element of given dictionary.
     # Select marks of studenet in Economics.

sampleDict = {"Class": {"Student": {"Name": "Shaun","Marks": {"Psycology": 85,"Economics": 75}}}}

Marks = sampleDict['Class']["Student"]['Marks']['Economics']
print('Marks in Economics = ', Marks)

Marks in Economics =  75

In [37]:
# 4. WAP to give default values into a dictionary.

senior_passanger = ['Ramesh', 'Michelle', 'Parvez']
defalut_seat = {'Coach' : 'B5', 'Berth' : 'lower'}

output = dict.fromkeys(senior_passanger, defalut_seat) # use fromkeys function.

print(output)

{'Ramesh': {'Coach': 'B5', 'Berth': 'lower'}, 'Michelle': {'Coach': 'B5', 'Berth': 'lower'}, 'Parvez': {'Coach': 'B5', 'Berth': 'lower'}}

In [52]:
# 5. WAP to fetch required keys from a dictionary.

emplyee = {"Name": "Kunal", "age": 28, "Designation": "Data Scientist", "Salary": 80000, "City": "Banglore"}

keys =['Name', "Designation", 'Salary']
result = {}    # create a new key and check the required keys in given list and add them into new list.

for k in keys:
    result.update({k : emplyee[k]})
print(result)

{'Name': 'Kunal', 'Designation': 'Data Scientist', 'Salary': 80000}

In [60]:
# 6. WAP to delete required keys from a dictionary.

emplyee = {"Name": "Kunal", "age": 28, "Designation": "Data Scientist", "Salary": 80000, "City": "Banglore"}

keys =['age', 'City']
# Check the required keys in given list and remove them using pop function.

for k in keys:
    emplyee.pop(k)
print(emplyee)

{'Name': 'Kunal', 'Designation': 'Data Scientist', 'Salary': 80000}

In [68]:
# 7. WAP to check required key is present in dictionary or not.

emplyee = {"Name": "Kunal", "age": 28, "Designation": "Data Scientist", "Salary": 80000, "City": "Banglore"}


# Soln 1 :-
for k in emplyee:      # using for loop 
    if emplyee[k] == 80000:
        print('Salary is present in dictionary')
        
if 80000 in emplyee:
    print('Salary is present in dictionary')

Salary is present in dictionary

In [72]:
# Soln 2:- 

emplyee = {"Name": "Kunal", "age": 28, "Designation": "Data Scientist", "Salary": 80000, "City": "Banglore"}

if 80000 in emplyee.values():   # direct accessing values of given key.
    print('Salary is present in dictionary')

Salary is present in dictionary

In [97]:
# 8. WAP to rename required keys from a dictionary.

emplyee = {"Name": "Kunal", "age": 28, "Designation": "Data Scientist", "Salary": 80000, "City": "Banglore"}

# Soln 1:-  By deleting the key and adding new key with same value
emplyee.pop('City')
emplyee.update({'location' : 'Banglore'})
print(emplyee)

{'Name': 'Kunal', 'age': 28, 'Designation': 'Data Scientist', 'Salary': 80000, 'location': 'Banglore'}

In [98]:
# Soln 2:-  By using pop function
emplyee['City'] = emplyee.pop('location')
print(emplyee)

{'Name': 'Kunal', 'age': 28, 'Designation': 'Data Scientist', 'Salary': 80000, 'City': 'Banglore'}

In [119]:
# 9. WAP to find minimum value from given dictionary.
emply_age = {'Ashok': 35, 'Shekhar': 30, 'Zuber': 40, 'George': 25, 'Manpreet': 28}

# Soln 1:- By using loop.
name = list(emply_age.keys())
age = list(emply_age.values())
minm = emply_age['Ashok']
for k in emply_age:
    if emply_age[k] < minm:
        minm = emply_age[k]

employee = age.index(minm)
print('Employee of minimum age =', name[employee])

Employee of minimum age = George

In [121]:
# Soln 2:- By using builtin fun min().

minm = min(emply_age, key = emply_age.get)
print('Employee of minimum age is = ',  minm)

Employee of minimum age is =  George

In [129]:
# 10. WAP to change the value of key in netsed dictionary.
      # Change salary of Robin to 55000.

salary = {'emp1': {'name': 'Rahul', 'salary': 75000}, 'emp2': {'name': 'Nisha', 'salary': 80000},'emp3': 
          {'name': 'Robin', 'salary': 50000}}

salary['emp3']['salary'] = 55000

print(salary)

{'emp1': {'name': 'Rahul', 'salary': 75000}, 'emp2': {'name': 'Nisha', 'salary': 80000}, 'emp3': {'name': 'Robin', 'salary': 55000}}